pandas
numpy
matplotlib
transformers
tensorflow
torch
torchvision
pyyaml =5.1
roboflow
-e .
scikit-learn
dvc
mlflow
streamlit
supervision
opencv-python
Pillow
watchdog
coremltools
onnx
